.back {
  cursor: pointer;
  color: var(--title-color);
}

.back:hover {
  border-bottom: none !important;
}

.backLink {
  position: sticky;
  top: 60px;
  padding: 10px 0;
  background-color: var(--background-color);
}
