footer {
  font-size: 0.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
  padding: 10px 10px;
  color: var(--menu-text-color);
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 20px 10px;
    background-color: var(--background-color);
  }
}

footer a {
  color: inherit;
  cursor: pointer;
  margin-left: 2px;
  padding: 5px;
  text-decoration: underline;
  text-decoration-color: var(--menu-text-color);
  font-weight: 900;
}

footer a:hover {
  color: var(--menu-text-selected-color);
  border: none;
}
