@import 'header.css';
@import 'post.css';
@import 'about.css';
@import 'footer.css';
@import 'tags.css';
@import 'back.css';
@import 'education.css';
@import 'profile.css';
@import 'proffesionalExperience.css';
@import 'print.css';
@import 'resume.css';

:root {
  --background-color: #e1ece8;
  --title-color: #00303f;
  --text-color: #00303f;
  --title-bg-color: #dcae1d;
  --icon-color: #7a9d96;
  --menu-text-color: #00303f;
  --menu-text-selected-color: #7a9d96;
  --main-tags-columns: 40;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
/* font-family: 'Roboto', sans-serif; */
  background-color: var(--background-color);
  cursor: default;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  width: fit-content;
  background-color: var(--title-bg-color);
  padding: 10px 40px;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
  justify-self: center;
}

h1, h2 {
  color: var(--title-color);
}

p, li, h1, h2, h3, h4, a, div {
  color: var(--text-color);
}

a  {
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: var(--icon-color);
  border-bottom: 1px solid var(--icon-color);
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 0 20px 20px 20px !important;
    margin-bottom: 20px !important;
  }

  h1 {
    font-size: 3rem;
  }
}

.section {
  padding: 0 15% 20px 15%;
  margin-bottom: 60px;
}
