@import 'header.css';
@import 'post.css';
@import 'about.css';
@import 'footer.css';
@import 'tags.css';
@import 'back.css';
@import 'education.css';
@import 'profile.css';
@import 'proffesionalExperience.css';

:root {
  --main-bg-color: coral;
  --background-color: #cae4db;
  --title-color: #00303f;
  --text-color: #00303f;
  --title-bg-color: #dcae1d;
  --icon-color: #7a9d96;
  --menu-text-color: #00303f;
  --menu-text-selected-color: #7a9d96;
  --main-tags-columns: 40;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Grandstander', cursive;
  background-color: var(--background-color);
}

.resume {
  margin: 20px 40px 40px 20px;
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
}

h1 {
  color: var(--title-color);
  font-size: 4rem;
  text-align: center;
}

h2 {
  width: fit-content;
  color: var(--title-color);
  background-color: var(--title-bg-color);
  padding: 10px 40px;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
  justify-self: center;
}

p {
  color: var(--text-color);
}

a {
  color: black;
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: var(--icon-color);
  border-bottom: 1px solid var(--icon-color);
}

@media only screen and (max-width: 768px) {
  section {
    padding: 0 20px 20px 20px !important;
    margin-bottom: 20px !important;
  }
}

section {
  padding: 0 25% 20px 25%;
  margin-bottom: 60px;
}
