header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

header > nav {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: end;
  align-content: center;
  height: 60px;
  padding: 0 20px;
}

header > nav > a {
  padding: 10px;
  text-align: center;
  color: var(--menu-text-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

header > nav > a:hover {
  color: var(--menu-text-selected-color);
  border: none;
}

.active {
  color: var(--menu-text-selected-color) !important;
  border-bottom: 1px solid var(--menu-text-selected-color) !important;
}
