header {
  position: sticky;
  top: 0;
  padding: 20px 10px;
}

@media only screen and (max-width: 768px) {
  header {
    /* background-color: white; */
    display: none;
  }
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: start;
}

nav > a {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

nav > a:hover {
  color: blue;
  text-decoration: underline;
}
